/vendor/
/.env
/storage/logs/*.log
/bootstrap/cache/*.php
node_modules/
.env
.env.backup
.env.production
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php

# IDE / editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Laravel specific (optional)
public/storage
public/hot
